@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  base: false;
  --color-primary: #3b82f6;
  --color-secondary: #60a5fa;
  --color-accent: #3b82f6;
  --color-base-100: #1f2937;
  --color-base-200: #111827;

  --color-border-color: #374151;
  --color-base-content: #e5e7eb;
  /* --scrollbar-width: none; */
  /* include: toggles; */
  /* exclude: rootcolor; */
}

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #60a5fa;
  --color-accent: #3b82f6;
  --color-base-100: #1f2937;
  --color-base-200: #111827;

  --color-border-color: #374151;
  --color-base-content: #e5e7eb;
  --scrollbar-width: 10px;
}

html,
body {
  height: 100%;

  padding: 0;
  margin: 0;
  /* font-family: "Roboto", serif; */
  /* background-color: #111827; */
  @media screen and (max-width: 600px) {
    body {
      font-size: 0.9rem;
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: 10px;
}

.scrollbar-width {
  scrollbar-width: thin !important;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-out-left {
  animation: slideOutLeft 0.45s ease-in-out backwards;
}

.tooltip-wrap[data-tip]::before,
.tooltip-wrap[data-tip]::after {
  white-space: normal !important;
  max-width: 220px; /* adjust width */
  word-break: break-word;
  text-align: left;
}
